<%= form_with(model: menu, local: true) do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
      <% menu.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-wrapper clearfix">
    <div class="field">
      <%= form.label :date %>
      <%= form.date_select :date %>
    </div>
  
    <div class="field">
      <%= form.label :remark %>
      <%= form.text_field :remark %>
    </div>
  
    <div class="field-moviment">
      <%= form.label :movement %>
      <%= form.text_area :movement, size: "30x20" %>
    </div>
  
    <div class="field-music">
      <%= form.label :music %>
      <%= form.text_area :music, size: "30x20" %>
    </div>
  
    <div class="field-image">
      <%= form.label :image %>
      <%= form.text_field :image %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
  
<% end %>
