<p id="notice"><%= notice %></p>

<h1 class="heading">My 練習メニュー</h2>

<div class="clearfix">
  <h2 class="title"><%= link_to 'メニューを記録する', new_menu_path %></h2>
  <div class="sort-menu">
    <p>Serch</p>
      <%= form_tag(menus_path, method: :get) do %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :remark => nil %>
    <% end %>
  </div>
</div>


<div class="menues">
  <div>
    <p>Serch：<%= params[:search] %></p>
  </div>

  <% if @menus.empty? %>
    <div class="serch-comment">
      <h3>検索結果がありません！</h3>
    </div>
  <% else %>
    <div class="serch-comment">
      <h3><%= @menus.count %>件のメニュー</h3>
    </div>
    <%= render @menus %>
  <% end %>
</div>



