<!--ビッグイメージ-->
<div class="bigimage">
	<%= image_tag "bigimage.jpg" %>
</div>


<!--メインスペース-->
<div class="main">
	<h1 class="hidden">カポエイラ</h1>
	<div class="features">
		<h2>カポエイラの魅力</h2>
		<div class="section-wrapper clearfix">
			<div class="section">
				<%= image_tag "pic1.jpg" %>
				<h3>心身ともに健康に</h3>
				<p>カポエイラは格闘技とダンスが融合した武道です。その独特な動きの練習はもちろん、歌や楽器の演奏も行います。これらを通じて自身の体と心に向き合い、日常生活で偏りがちな心身のメンテナンスを助けます。</p>
			</div>
			<div class="section">
				<%= image_tag "pic2.jpg" %>
				<h3>コミュニケーション</h3>
				<p>カポエイラの基本は相手との対話。ゲームの中で相手を尊重しながら会話のような掛け合いを楽しみます。またカポエイラという共通言語を通じて様々な仲間と会い、コミュニケーションを広げることができます。</p>
			</div>
			<div class="section">
				<%= image_tag "pic3.jpg" %>
				<h3>伝統・文化・哲学</h3>
				<p>ブラジルの黒人奴隷の反発から生まれたカポエイラを通じて、ブラジルの歴史やポルトガル語、広く社会を学ぶことが出来ます。師の教えを学び、友人や仲間から人生をより楽しく豊かに生きるための考え方を学びます。</p>
			</div>
		</div>
	</div>
	<div class="features">
		<h2 class="title">クラス情報</h2>
		<div class="section-wrapper clearfix">
			<div class="section">
				<%= image_tag "pic-sapporo.jpg" %>
				<h3>札幌クラス</h3>
				<div class="snsicon">
					<%= link_to image_tag("Facebook.png", width: 40), 'https://www.facebook.com/Capoeiraangolasapporo/',target: ["_blank"] %>
				</div>
				<p>札幌市白石区を拠点に活動しています。専用の道場を構え本格的な雰囲気の中練習ができます。金曜日にはアクセスのよいスタジオでも練習しています。カポエィラ・アンゴラを学ぶ最適な環境です！</p>

			</div>
			<div class="section">
				<%= image_tag "pic-obihiro.jpg" %>
				<h3>帯広クラス</h3>
				<div class="snsicon">
					<%= link_to image_tag("Instagram.png", width: 40), 'https://www.instagram.com/massa_batata/', target: ["_blank"] %>
					<%= link_to image_tag("Twitter.png", width: 40), 'https://twitter.com/obi_capo', target: ["_blank"] %>
				</div>
				<p>帯広市を拠点に活動しています。週に１回の通常練習と、不定期に初心者向け体験会”Vamos Capoeira!”を開催し、カポエイラの技術向上と普及に努めています。</p>
			</div>
		</div>
	</div>
</div>


<!--サイドスペース-->
<div class="sidemenu">
	<h2 class="title">お知らせ</h2>
	<div class="information">
		<h3>Information</h3>
		<hr width="270px" align="left">
	</div>
	<div class="movie">
		<h3>Movie</h3>
		<hr width="270px" align="left">
	</div>
</div>
